@import "bourbon/_bourbon.scss";


// .wrapper {
// 	position: relative;
// 	height: 60vh;
// 	overflow: hidden;
// }
// div#data {
// 	position: absolute;
// 	bottom: 15px;
// 	left: 15px;
// 	width: calc(100% - 15px);
// 	height: auto;
// }
////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

body {font-family: 'Lato', sans-serif;}
header.container-fluid {margin: 15px 0; }

.phase1, .phase2, .phase3 {min-height: calc(100vh - 118px); display: flex; flex-direction: column; text-align: center; justify-content: space-around;} 
.phase1 {
	img {
		&.main_image { margin-top: 15px; margin-bottom: 15px; }
		&.gif { margin-top: 30px; margin-bottom: 50px; }
	}
	.desc { color: black; font-size: 20px; font-weight: 300; line-height: 22px; }
	.btn-success { height: 58px; /* background-color: #76ba39; */ border-radius: 5px; color: white; font-size: 26px; font-weight: 300; line-height: 22px; border: none; margin-top: 15px; margin-bottom: 15px;}
}
.phase2 {
	.cta { color: red; font-size: 26px; font-weight: 300; line-height: 32px; margin: 15px auto; text-align: center; }
	.timer { color: red; font-size: 26px; font-weight: 300; line-height: 22px; margin: 15px auto; text-align: center;
		&:after {
		   content:attr(data-num);
		}
	}
}
.phase3 { color: black; font-size: 26px; font-weight: 300; line-height: 22px;
	.img_wrapper {position: relative; margin-bottom: 80px;
		&:before { content: 'Unripe'; position: absolute; top: calc(100% + 5px); left: 0;}
		&:after { content: 'Ripe'; position: absolute; top: calc(100% + 5px); right: 0;}
		.indicator_wrapper {position: absolute; top: 100%; left: 50%; -webkit-transform: translate(-50%, -50%); -khtml-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
			img.tester-indicator {-webkit-transform: rotate(0deg); -khtml-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); transition: all 1s ease; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
		}
	}
	.result { color: black; font-size: 46px; line-height: 22px; font-weight: 300; text-align: center;
		#percent { font-weight: 700;
			&:after { content: "%"; }
		}
	}
}