@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900");
body {
  font-family: 'Lato', sans-serif; }

header.container-fluid {
  margin: 15px 0; }

.phase1, .phase2, .phase3 {
  min-height: calc(100vh - 118px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.phase1 img.main_image {
  margin-top: 15px;
  margin-bottom: 15px; }

.phase1 img.gif {
  margin-top: 30px;
  margin-bottom: 50px; }

.phase1 .desc {
  color: black;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px; }

.phase1 .btn-success {
  height: 58px;
  /* background-color: #76ba39; */
  border-radius: 5px;
  color: white;
  font-size: 26px;
  font-weight: 300;
  line-height: 22px;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px; }

.phase2 .cta {
  color: red;
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
  margin: 15px auto;
  text-align: center; }

.phase2 .timer {
  color: red;
  font-size: 26px;
  font-weight: 300;
  line-height: 22px;
  margin: 15px auto;
  text-align: center; }
  .phase2 .timer:after {
    content: attr(data-num); }

.phase3 {
  color: black;
  font-size: 26px;
  font-weight: 300;
  line-height: 22px; }
  .phase3 .img_wrapper {
    position: relative;
    margin-bottom: 80px; }
    .phase3 .img_wrapper:before {
      content: 'Unripe';
      position: absolute;
      top: calc(100% + 5px);
      left: 0; }
    .phase3 .img_wrapper:after {
      content: 'Ripe';
      position: absolute;
      top: calc(100% + 5px);
      right: 0; }
    .phase3 .img_wrapper .indicator_wrapper {
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -khtml-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .phase3 .img_wrapper .indicator_wrapper img.tester-indicator {
        -webkit-transform: rotate(0deg);
        -khtml-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: all 1s ease;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
  .phase3 .result {
    color: black;
    font-size: 46px;
    line-height: 22px;
    font-weight: 300;
    text-align: center; }
    .phase3 .result #percent {
      font-weight: 700; }
      .phase3 .result #percent:after {
        content: "%"; }
